---
title: "Search"
layout: "default"
isPage: true
---

h1 Search
hr
.search
  .search_bar
    label(for='search') Search
    input(type='text', placeholder='Search a product', value="cake")#search
    button Go!
  h2 3 results for "cake"
  #prods
    +product("cupcake.png", "Cupcake", "$ 4.90")
    +product("mille.jpg", "Mille-Feuille", "$ 12.90")
    +product("lemon.jpg", "Lemon Pie", "$ 9.90")
