---
title: "Search"
layout: "default"
isPage: true
---

mixin product(img, name, price)
  li.prod
      .preview
        .short_description
          a(href='../product/').name= name
          .price= price
        .thumbnail
          span.helper
          img(src="../imgs/prods/" + img, alt=name)
      a(href='#')
        .interact Add to Cart

h1 Search
hr
.search
  .search_bar
    label(for='search') Search
    input(type='text', placeholder='Search a product', value="cake")#search
    button Go!
  h2 3 results for "cake"
  #prods
    +product("cupcake.png", "Cupcake", "$ 4.90")
    +product("mille.jpg", "Mille-Feuille", "$ 12.90")
    +product("lemon.jpg", "Lemon Pie", "$ 9.90")
