---
title: "Products"
layout: "default"
isPage: true
---

mixin product(img, name, price)
  li.prod
      .preview
        .short_description
          a(href='../product/').name= name
          .price= price
        .thumbnail
          span.helper
          img(src="../imgs/prods/" + img, alt=name)
      a(href='../cart/').interact Add to Cart

h1 Products
hr
#prods
  ul.products
    +product("cupcake.png", "Cupcake", "$ 4.90")
    +product("coffee_cup.png", "Coffee", "$ 3.50")
    +product("waffle.png", "Waffle", "$ 6.90")
    +product("choco.png", "Chocolate", "$ 5.70")
    +product("donuts.jpg", "Donuts", "$ 3.90")
    +product("sorbet.gif", "Sorbet", "$ 6.50")
    +product("croissant.png", "Croissant", "$ 1.80")
    +product("macaron.png", "Macaron", "$ 2.50")
    +product("mille.jpg", "Mille-feuille", "$ 12.90")
    +product("lemon.jpg", "Lemon Pie", "$ 9.90")
    +product("candies.png", "Candies", "$ 2.10")
    +product("cat.png", "Cat", "$ 80.00")
