---
title: "Products"
layout: "default"
isPage: true
---

- var root_url = ".."

h1 Products
hr
#prods
  ul.products
    +product(root_url + "/imgs/prods/cupcake.png", "Cupcake", "$ 4.90")
    +product(root_url + "/imgs/prods/coffee_cup.png", "Coffee", "$ 3.50")
    +product(root_url + "/imgs/prods/waffle.png", "Waffle", "$ 6.90")
    +product(root_url + "/imgs/prods/choco.png", "Chocolate", "$ 5.70")
    +product(root_url + "/imgs/prods/donuts.jpg", "Donuts", "$ 3.90")
    +product(root_url + "/imgs/prods/sorbet.gif", "Sorbet", "$ 6.50")
    +product(root_url + "/imgs/prods/croissant.png", "Croissant", "$ 1.80")
    +product(root_url + "/imgs/prods/macaron.png", "Macaron", "$ 2.50")
    +product(root_url + "/imgs/prods/mille.jpg", "Mille-feuille", "$ 12.90")
    +product(root_url + "/imgs/prods/lemon.jpg", "Lemon Pie", "$ 9.90")
    +product(root_url + "/imgs/prods/candies.png", "Candies", "$ 2.10")
    +product(root_url + "/imgs/prods/cat.png", "Cat", "$ 80.00")
