---
title: "Contact"
layout: "default"
isPage: true
---

mixin item(qty, name, price)
  .item
    .qty= qty
    .name= name
    .price= price

h1 Checkout
hr

.check
  .items
    h2 Items
    .cart
      .item.top
        .qty QTY
        .name ITEM
        .price PRICE
      +item('1',"Cat", "$ 80.00")
      +item('3',"Donuts", "$ 11.70")
      +item('10',"Candies", "$ 21.0")
      +item('1',"Lemon Pie", "$ 9.90")
    .total
      h3.tot Total:
      span.price $ 122.60
  .formular
    h2 Fill the Formular
    form(action='../success/').minimalistic
      fieldset
        label(for="first_name").placeholder First Name
        input(id="first_name", type="text")
        label(for="last_name").placeholder Last Name
        input(id="last_name", type="text")
        label(for="email").placeholder E-Mail
        input(id="email", type="text")
        label(for="address").placeholder Adress
        input(id="address", type="text")
        label(for="postal").placeholder Postal/Zip Code
        input(id="postal", type="text")
        label(for="city").placeholder City
        input(id="city", type="text").last
        input(id="submit", type="submit", value="ORDER")
