---
title: "Contact"
layout: "default"
isPage: true
---

mixin human(img,name)
  .human
    .name= name
    .thumbnail
      img(src='../imgs/humans/'+img, alt=name)
    a(href='#', title="Twitter account").social.twitter Twitter
    a(href='#', title="Facebook account").social.facebook Facebook
    a(href='#', title="Who use it ?").social.google Google +


h1 Contact Us
hr
.contact
  h2 The Team
  .team
    +human('1.jpg', 'Raiponce')
    +human('2.jpg', 'xouabita')
    +human('3.jpg', 'Chomsky')

  h2 Leave us a message
  .msg_box
    form(action='#').minimalistic
      fieldset
        label(for="name").placeholder Name
        input(id="name", type="text")
        label(for="email").placeholder E-Mail
        input(id="email", type="text")
        label(for="message").placeholder Message
        textarea(id="message", rows='2', cols='2').last
        input(id="submit", type="submit", value="SEND")
