---
title: "Home"
layout: "default"
isPage: true
---

#prz
  h1 Happiness Shop
  h2 Welcome to the candy shop !
  .btns
    a(href='./products/', title="See our beautiful products") Products
    a(href='./about/', title="Want to know more about us ?") About
