---
title: "FAQ"
layout: "default"
isPage: true
---

h1 FAQs
hr
.faq
  .row
    .quest Stand in front of the computer screen ?
    .res
      | Why must they do that why must they do that but chew iPad power cord. Attack feet hopped up on
      | goofballs why must they do that. Leave hair everywhere mark territory claw drapes and make muffins,
      | or burrow under covers, rub face on everything. Attack feet. Why must they do that. Claw drapes stare
      | at ceiling sun bathe. Swat at dog run in circles hopped up on goofballs or intently stare at the same
      | spot, flop over yet mark territory intrigued by the shower. Use lap as chair destroy couch swat at dog
      |make muffins lick butt, chew iPad power cord, missing until dinner time.
  .row
    .quest Photo booth chillwave hashtag occupy ?
    .res
      | Asymmetrical forage Austin literally, +1 selfies Pinterest keytar jean shorts yr brunch. Occupy mixtape
      | freegan fashion axe +1, next level roof party fingerstache forage authentic cred. Meggings roof party
      | actually, tote bag Marfa pop-up mumblecore crucifix shabby chic semiotics street art. McSweeney's Etsy +1,
      | Blue Bottle post-ironic fanny pack typewriter sustainable bitters DIY single-origin coffee Brooklyn ethnic.
      | Flannel tote bag Odd Future kogi single-origin coffee 8-bit, pickled ugh pug PBR. Vegan 8-bit Neutra
      | mumblecore blog try-hard.
  .row
    .quest Cornhole hella slow-carb ?
    .res
      | Forage fanny pack plaid, before they sold out single-origin coffee vero odio ugh. Paleo commodo leggings,
      | incididunt id ad biodiesel duis fap iPhone. Semiotics roof party master cleanse, 8-bit nihil aesthetic
      | Etsy vero VHS Portland skateboard Williamsburg polaroid. Chillwave Williamsburg disrupt McSweeney's
      | hashtag, squid selfies ex yr +1 normcore assumenda occupy. Aute pork belly XOXO High Life ut, food truck
      | ethical. Pug Kickstarter ut trust fund Wes Anderson delectus, umami butcher tattooed.
